.form-container {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
  margin-top: 20px;

  .search-label {
    display: flex;
    flex-direction: column;
    text-align: center;

    .input-field {
      margin-top: 10px;
      text-align: center;
    }
  }

  .search-button {
    float: right;
    border-radius: 50%;
    margin-left: 10px;
    border: none;

    background-color: #555;
    color: white;
  }
  .search-button:hover {
    background-color: rgb(59, 59, 59);
    color: white;
    transition: all 0.3s ease-in-out;
  }
}
.form-container > form {
  display: flex;
  justify-content: space-between;
}
