table {
  margin: 0 auto;
  border-spacing: 0;
  width: 50%;
  height: 20%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

td {
  font-size: 1.5rem;
}
button {
  cursor: pointer;
}
.refresh-button-container {
  margin: 0 auto;
  width: 50%;
  height: 20%;
  text-align: center;
}
.refresh-button {
  margin-left: 5px;
}
.error {
  text-align: center;
}
